<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/egovframework/sample.css}" />
	<title></title>
	<script type="text/javascript">
		function goToSampleDetail(postId) {
			document.getElementById("selectedId").value = postId;
		    document.getElementById("listForm").action = "/sampleDetail";
		    document.getElementById("listForm").submit();
		}
		
		function goToSampleCreate(){
			document.getElementById("listForm").action = "/sampleCreate";
		    document.getElementById("listForm").submit();
		}
		
		function searchSampleList() {
			document.getElementById("listForm").action = "/home";
		    document.getElementById("listForm").submit();
		}
		
		function goToSamplePage(pageNo) {
			document.getElementById("pageIndex").value = pageNo;
			document.getElementById("listForm").action = "/home";
			document.getElementById("listForm").submit();
		}
	</script>
</head>
<body style="text-align:center; margin:0 auto; display:inline; padding-top:100px;">
	<!-- 게시판 헤더 -->
	<div id="pageHeader" name="pageHeader">
	<!-- TODO: 함수로 불러내기 -->
		<h1>게시판 목록</h1>
		<a>홈</a>
		<span> > </span>
		<a>게시판 목록</a>
	</div>
	<!-- 게시판 내용 -->
	<div id="pageContent">
		<form id="listForm"  name="listForm" method="post" th:object="${searchVO}">
			<input type="hidden" id="selectedId" name="selectedId">
			<div id="title">
			</div>
			<!-- 검색 -->
			<div id="search">
				<ul>
					<li>
						<select id="searchCondition" name="searchCondition" class="use">
							<option value="0" th:text="검색분류" selected></option>
							<option value="1" th:text="이름"></option>
							<option value="2" th:text="제목"></option>
						</select>
					</li>
					<li>
						<label for="searchKeyword" class="visually-hidden"></label>
						<input type="text" id="searchKeyword" name="searchKeyword" class="txt" th:value="${searchKeyword}" />
					</li>
					<li>
						<span class="btn_blue_1">
							<a href="javascript:searchSampleList();" th:text="검색"></a>
							<img src="@(/images/egovframework/example/btn_bg_r.gif)" alt="" />
						</span>
					</li>
				</ul>
			</div>
			<!-- 게시글 -->
			<div id="table" width="100%" >
				<table width="100%" >
					<caption>
					</caption>
					<colgroup>
						<col />
						<col width="*"/>
						<col />
						<col />
					</colgroup>
					<tr>
						<th>No</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>작성일</th>
					</tr>
					<tr th:each="result, status : ${sampleList}" th:onclick="|location.href='@{goToSampleDetail(id=${result.postId})}'">
						<td th:text="${result.postId}"></td>
						<td th:text="${result.postTitle}"></td>
						<td th:text="${result.regrEmpno}"></td>
						<td th:text="${result.regDt}"></td>
					</tr>
				</table>
			</div>
			<!-- 등록버튼 -->
			<div id="regist" name="regist">
				<button id="sampleRegistBtn" name="sampleRegistBtn" th:onclick="|location.href='@{goToSampleRegist(id=${empno})}'" th:text="글쓰기">
				</button>
			</div>
			<!-- 페이징 -->
			<div id="paging">
				<input type="hidden" id="pageIndex" name="pageIndex" />
			</div>
		</form>
	</div>		
</body>
</html>