<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <link rel="stylesheet" th:href="@{/css/egovframework/sample.css}" />
</head>
<body>
    <h1>게시글 상세</h1>
    <p><strong>제목:</strong> <span th:text="${postDetail.postTitle}"></span></p>
    <p><strong>작성자:</strong> <span th:text="${postDetail.empnm}"></span></p>
    <p><strong>작성일:</strong> <span th:text="${postDetail.regDt}"></span></p>
    <p><strong>내용:</strong></p>
    <p th:text="${postDetail.postCtt}"></p>
    
    <form id="postForm">
        <input type="hidden" name="postId" th:value="${postDetail.postId}">
        
		<button type="submit" th:formaction="@{'/post_edit/' + ${postDetail.postId}}" formmethod="get">수정</button>
        <button type="submit" th:formaction="@{/post_delete}" formmethod="post" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
    </form>
    <a th:href="@{/post_list}" th:text="목록"></a>
</body>
</html>